export(deStruct, structure_plot, extraparams, mainparams, structure_scriptwriter, average_runs)


S3method(structure_plot, destruct)


importFrom("ggplot2", "ggplot", "aes", "theme", "geom_bar", "element_blank")
importFrom("viridis", "scale_color_viridis")